<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title>
            Some Website
        </title>
    </head>
    <body>
        {{> header}}

        <p>Welcome to this super cool webpage that I call <b>T h e H o m e</b> !</p>

        {{> footer}}
    </body>
</html>